<div id = "wrapper1">
    {{> adminheader}}

    <!-- POSTS -->
    <p class = "instructions">✓ - Disregard Report</p>
    <p class = "instructions">✕ - Suspend User</p>
    {{#each complaint}}
        <div class="post">
            <div class="repuser">
                <img src="{{avatar}}" class="repavatar">
                
                <a href="/user/{{reported}}" class = "reptitle">
                    {{reported}}
                </a> 
                <a id = "suspend" class = "usersbutton" href = "/users/{{_id}}/suspend"><div class = "deletebutton" name = "suspend" value = "suspend" >✕</div></a>
                <a id = "accept" class = "usersbutton" href = "/users/{{_id}}/accept"><div class = "acceptbutton" name = "accept" value = "accept">✓</div></a>
            </div>

            <div class="repreason">
                <h3>Reason</h3>
                <p>{{reason}}</p>
            </div>

            <div class="repcomplaint">
                <h3>Complaint</h3>
                <p>{{complaint}}</p>
            </div>

            <div class="dateposted">
                {{date}} | {{time}} | reported by {{reporter}}
            </div>
        </div>
    {{/each}}

</div>

<script type="text/javascript">

    $(".acceptbutton").mouseenter(function(){
        $(this).css("background-color", "green");
        $(this).css("border-color", "green");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
    });

    $(".acceptbutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

    $(".deletebutton").mouseenter(function(){
        $(this).css("background-color", "maroon");
        $(this).css("border-color", "maroon");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
        
    });

    $(".deletebutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

</script>