<div id = "wrapper1">
    {{> adminheader}}

    <!-- POSTS -->
    <p class = "instructions">✓ - Disregard Report</p>
    <p class = "instructions">✕ - Suspend User</p>
    {{#each complaint}}
        <div class="post" id = "{{_id}}">
            <div class="repuser">
                <img src="{{avatar}}" class="repavatar">
                
                <a href="/user/{{reported}}" class = "reptitle">
                    {{reported}}
                </a> 
                <div class = "deletebutton" name = "suspend" value = "suspend" >✕</div>
                <div class = "acceptbutton" name = "accept" value = "accept">✓</div>
            </div>

            <div class="repreason">
                <h3>Reason</h3>
                <p>{{reason}}</p>
            </div>

            <div class="repcomplaint">
                <h3>Complaint</h3>
                <p>{{complaint}}</p>
            </div>

            <div class="dateposted">
                {{date}} | {{time}} | reported by {{reporter}}
            </div>
        </div>
    {{/each}}

</div>

<script type="text/javascript">

    $(".deletebutton").click(function() {
        
        var userid = jQuery(this).parent().parent().attr("id");
        
        $.post('/suspenduser', {userid: userid}, function(status) {
            $("#" + userid).remove();
        })

    })

    $(".acceptbutton").click(function() {
        
        var userid = jQuery(this).parent().parent().attr("id");

        $.post('/disregardreport', {userid: userid}, function(status) {
            $("#" + userid).remove();
        })

    })

    $(".acceptbutton").mouseenter(function(){
        $(this).css("background-color", "green");
        $(this).css("border-color", "green");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
    });

    $(".acceptbutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

    $(".deletebutton").mouseenter(function(){
        $(this).css("background-color", "maroon");
        $(this).css("border-color", "maroon");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
        
    });

    $(".deletebutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

</script>