<div id = "wrapper1">
	<!-- HEADER -->
	{{> adminheader}}

	<!-- PROFILE -->
	<div id = "profile">

		<!-- PROFILE DETAILS -->
		{{#profiledetails}}
		<div id = "details">
			<div id = "detailscontent">
				<div id = "dpdiv">
					<img id = "dp"src = "{{avatar}}">
				</div>

				<div id = "name">
					<p id = "profileusername">{{username}}</p>
				</div>

				<div id = "review">
					{{#each checkedstars}}
						<span class="fa fa-star checked"></span>
					{{/each}}
					{{#each uncheckedstars}}
						<span class="fa fa-star"></span>
					{{/each}}
				</div>

				<div id = "bio">
					<p id = "biotext">{{bio}}</p>
				</div>

				<div id = "socialmedia">
					{{#if hasfb}}
						<a href = "http://www.facebook.com/{{fb}}" target="_blank"><img class = "icon" id = "fb"src = "/img/facebook.png"></a>
					{{/if}}

					{{#if hastw}}
						<a href = "http://www.twitter.com/{{tw}}" target="_blank"><img class = "icon" id = "tw"src = "/img/twitter.png"></a>
					{{/if}}

					{{#if hasig}}
						<a href = "http://www.instagram.com/{{ig}}" target="_blank"><img class = "icon" id = "ig"src = "/img/instagram.png"></a>
					{{/if}}
				</div>

				<div id = "contactdetails">
					<p>Contact Number: {{number}}</p>
				</div>

				
				<a class = "link reviewbutton" id = "reviews" href= "/user/{{username}}/reviews">
					USER REVIEWS
				</a>

			</div>
		</div>
		{{/profiledetails}}

		<div id = "posts" style="width: 700px">
			<a class="title">POSTS</a>
			<br>
		{{!-- POSTS --}}
		{{#each post}}
			<div class="post">
				<div class="postheader">
					<a href="/posts/{{_id}}" class = "posttitle">
						{{title}}
					</a>
				</div>

				<div class="posttags">
                	<span class="tag">{{tagname}}</span>
            	</div>

				<div class="postedby">
					<img class="avatar" src="{{posteravatar}}">
					<a href="/user/{{postername}}" class="username">{{postername}}</a>
				
					<div class="stealprice">
						P{{stealprice}}
					</div>
					<div class="currentprice">
						P{{currentprice}}
					</div>
					
				</div>

				<img class="itemimage" src="{{itemimg}}">
				
				<div class="dateposted">
					{{date}} | {{time}}
				</div>
			</div>
		{{/each}}
		</div>

	</div>

	<div id = "iconattribute">
		Icons made by
		<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
		from
		<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</div>
	

</div>	

<script type = "text/javascript">

	document.getElementById("reportbutton").onclick = function() {
		document.getElementById("reportscreen").style.display = "block";
	}

	document.getElementById("close").onclick = function()
	{
		document.getElementById("reportscreen").style.display = "none";
	}

	document.getElementById("profilesubmit").onclick = function()
	{
		document.getElementById("reportscreen").style.display = "none";
	}

</script>