<div id = "wrapper1">
	<!-- HEADER -->
	{{> adminheader}}
	{{#profiledetails}}
	<!-- PROFILE -->
	<div id = "profile">

		<!-- PROFILE DETAILS -->
		<div id = "details">
			<div id = "detailscontent">
				<div id = "dpdiv">
					<img id = "dp"src = "{{avatar}}">
				</div>

				<div id = "name">
					<p id = "profileusername">{{username}}</p>
				</div>

				<div id = "review">
					{{#each checkedstars}}
						<span class="fa fa-star checked"></span>
					{{/each}}
					{{#each uncheckedstars}}
						<span class="fa fa-star"></span>
					{{/each}}
				</div>

				<div id = "bio">
					<p id = "biotext">{{bio}}</p>
				</div>

				<div id = "socialmedia">
					{{#if hasfb}}
						<a href = "http://www.facebook.com/{{fb}}"><img class = "icon" id = "fb"src = "/img/facebook.png"></a>
					{{/if}}

					{{#if hastw}}
						<a href = "http://www.twitter.com/{{tw}}"><img class = "icon" id = "tw"src = "/img/twitter.png"></a>
					{{/if}}

					{{#if hasig}}
						<a href = "http://www.instagram.com/{{ig}}"><img class = "icon" id = "ig"src = "/img/instagram.png"></a>
					{{/if}}
				</div>

				<div id = "contactdetails">
					<p>Contact Number: {{number}}</p>
				</div>

				
				<a id = "reviews" href= "profile">
					POSTS
				</a>

			</div>
		</div>
	{{/profiledetails}}
		<div id = "posts">
		
			<!-- REVIEWS -->
			{{#each review}}
				<div class="reviews">
					<div id = "reviewstars">
						{{#each checkedstars}}
							<span class="fa fa-star checked"></span>
						{{/each}}
						{{#each uncheckedstars}}
							<span class="fa fa-star"></span>
						{{/each}}
					</div>
					<div class="reviewer">
							<img class="avatar" src="{{avatar}}">
							<a href="profile" class="username">{{username}}</a>
					
					</div>
					<p class = "reviewdesc">
						{{text}}
					</p>
				</div>
			{{/each}}

		</div>

	</div>	

	<div id = "iconattribute">
		Icons made by
		<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
		from
		<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</div>

</div>


<script type = "text/javascript">

	document.getElementById("reportbutton").onclick = function() {
		document.getElementById("reportscreen").style.display = "block";
	}

	document.getElementById("close").onclick = function()
	{
		document.getElementById("reportscreen").style.display = "none";
	}

	document.getElementById("submit").onclick = function()
	{
		document.getElementById("reportscreen").style.display = "none";
	}

</script>