<div id = "wrapper1">
    {{> adminheader}}

    <div class="post">
        
        <div class="postheader">
            <p class = "posttitle">
                {{title}}
            </p>
            <a href="/{{_id}}/delete"><div class = "deletebutton">✕</div></a>
            <a href="/{{_id}}/approve"><div class = "acceptbutton">✓</div></a>
        </div>

        <div class="posttags">
            <span class="tag">{{tagname}}</span>
        </div>

        <div class="postedby">
            <img class="avatar" src="{{posteravatar}}">
            <a href="/user/{{postername}}" class="username">{{postername}}</a>
        </div>

        <p class = "postdesc">
            {{description}}
        </p>

        <div class="adtldetails">
            <p class="payment">
                <b>mode of payment:</b> {{paymentmode}}
            </p>
            <p class="cutoff">
                <b>cut-off:</b> {{cutoffdate}} | {{cutofftime}}
            </p>
            <p class="details">
                <b>meet-up details:</b> {{details}}
            </p>
        </div>

        {{#each image}}
		<a href="#openimage" rel="modal:open"><img class="itemimage" src="{{itemimg}}"></a>
		<div id="openimage" class="modal">
			<a href="#" rel="modal:close"><img class="itemimagefull" src=""></a>
		</div>
        {{/each}}
        
        <div class="dateposted">
            {{date}} | {{time}}
        </div>
    </div>

</div>

<script type="text/javascript">
	$('.itemimage').click(function(){
		$('.itemimagefull').attr('src', $(this).attr('src'));
	})

    $(".acceptbutton").mouseenter(function(){
        $(this).css("background-color", "green");
        $(this).css("border-color", "green");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
    });

    $(".acceptbutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

    $(".deletebutton").mouseenter(function(){
        $(this).css("background-color", "maroon");
        $(this).css("border-color", "maroon");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
        
    });

    $(".deletebutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

</script>