<div id = "wrapper1">

    {{> userheader username = username}}


    <!-- CREATE POSTS -->
    
    <p class="title">CREATE A POST</p><br>
    
    <div class="post">

            <form action = "/createpost" enctype = "multipart/form-data" class = "createpost" id = "createpost" name = "create" method = "post">
                <div class="postdetails">

                    <p id = "subtitle">Please choose one category and upload at least one photo. Don't leave any fields blank.</p>
                    
                    <!-- ITEM NAME -->
                    <label for="itemname">Item Name</label><br>
                    <input type="text" id="itemname" name="itemname" maxlength=50 value={{title}}><br>
                    
                    <!-- DESCRIPTION -->
                    <label for="description">Description</label><br>
                    <textarea id = "description" name="description" placeholder="Enter a description of your item...">{{description}}</textarea><br>
                    
                    <!-- STARTING PRICE -->
                    <label for="sprice">Starting Price</label><br>
                    <input type="text" id="sprice" name="sprice" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)" value="{{startprice}}"><br>
                    
                    <!-- PRICE INCREMENT -->
                    <label for="priceinc">Price Increment</label><br>
                    <input type="text" id="priceinc" name="priceinc" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)" value="{{incrementprice}}"><br>
                    
                    <!-- STEAL PRICE -->
                    <label for="stealp">Steal Price</label><br>
                    <input type="text" id="stealprice" name="stealp" maxlength=7 placeholder="10.00" onkeypress="return isNumber(event)" value="{{stealprice}}"><br>
                    
                    <!-- CUT-OFF -->
                    <label for="cutoffdt">Cut-Off Date & Time</label><br>
                    <input type="datetime-local" id="cutoffdt" name="cutoffdt" value="{{cutoff}}"><br>
                    
                    <!-- MODE OF PAYMENT -->
                    <label for="modep">Mode of Payment</label><br>
                    <select name="modep">
                        <option value="Cash">Cash</option>
                        <option value="GCash">G-Cash</option>
                        <option value="Bank Transfer">Bank Transfer</option>
                        <option value="Paymaya">Paymaya</option>
                    </select><br>
                   
                    <!-- MEET-UP DETAILS -->
                    <label for="meetup">Meet-up Details</label><br>
                    <input type="text" id="meetup" name="meetup" value="{{details}}"><br>
                   
                    <!-- CATEGORIES -->
                    <label for="categ">Categories</label><br>
                    <input type = "radio" id = "book" name = "categ" value = "Book" checked>
					<label for = "Book" style = "color: black">Book</label><br>
                    <input type = "radio" id = "forpet" name = "categ" value = "For Pet">
					<label for = "forpet" style = "color: black">For Pet</label><br>
                    <input type = "radio" id = "womens" name = "categ" value = "Women's">
					<label for = "womens" style = "color: black">Women's</label><br>
                    <input type = "radio" id = "mens" name = "categ" value = "Men's">
					<label for = "mens" style = "color: black">Men's</label><br>
                    <input type = "radio" id = "childrens" name = "categ" value = "Children's">
					<label for = "childrens" style = "color: black">Children's</label><br>
                    <input type = "radio" id = "shoes" name = "categ" value = "Shoes">
					<label for = "shoes" style = "color: black">Shoes</label><br>
                    <input type = "radio" id = "stationery" name = "categ" value = "Stationery">
					<label for = "stationery" style = "color: black">Stationery</label><br>
                    <input type = "radio" id = "food" name = "filter" value = "Food">
				    <label for = "food" style = "color: black">Food</label><br>
                    <input type = "radio" id = "collectible" name = "categ" value = "Collectible">
					<label for = "collectible" style = "color: black">Collectible</label><br>
                    <input type = "radio" id = "accessory" name = "categ" value = "Accessory">
					<label for = "accessory" style = "color: black">Accessory</label><br>
                    <input type = "radio" id = "technology" name = "categ" value = "Technology">
					<label for = "technology" style = "color: black">Technology</label><br>
                   
                    <!-- UPLOAD -->
                    <label for="pic">Upload Picture/s</label><br>
                    <input type="file" id = "pic" name="pic" accept="image/*" multiple/><br>
                   
                    <!-- SUBMIT -->
                    <button type="submit" id = "submit" form="createpost" value="Submit" onclick = "create.submit()">Submit</button>
                </div>
            </form>
    </div>

<script type="text/javascript">

    function isNumber(evt)
    {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $("input").keyup(function(){
        $('#submit').prop('disabled', false);
    });

    $("#submit").click(function() {
        var valid = true;
        var notequal = true;

        $('#submit').prop('disabled', false);
        // RESETS BACKGROUND COLOR OF FIELDS
        $("#itemname").css("background-color", "white");
        $("#description").css("background-color", "white");
        $("#sprice").css("background-color", "white");
        $("#priceinc").css("background-color", "white");
        $("#stealprice").css("background-color", "white");
        $("#cutoffdt").css("background-color", "white");
        $("#meetups").css("background-color", "white");
        $("#categ").css("color", "black");
        $("#pic").css("background-color", "white");

        if($.trim($("#itemname").val()) == "") // VALIDATION FOR ITEM NAME
        {
            $("#itemname").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#description").val()) == "") // VALIDATION FOR DESCRIPTION
        {
            $("#description").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#sprice").val()) == "") // VALIDATION FOR STARTING PRICE
        {
            $("#sprice").css("background-color", "lightcoral");
            valid = false;
        }

        if($.trim($("#priceinc").val()) == "") // VALIDATION FOR PRICE INCREMENT
        {
            $("#priceinc").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#stealprice").val()) == "") // VALIDATION FOR STEAL PRICE
        {
            $("#stealprice").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#cutoffdt").val()) == "") // MUST MODIFY
        {
            $("#cutoffdt").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#meetup").val()) == "") // VALIDATION FOR MEETUPS
        {
            $("#meetup").css("background-color", "lightcoral");
            valid = false;
        }
        
        if($.trim($("#meetup").val()) == "") // VALIDATION FOR CATEGORIES
        {
            valid = false;
        }

        if($.trim($("#stealprice").val()) <= $.trim($("#sprice").val())) // VALIDATION FOR STEAL PRICE
        {
            $("#stealprice").css("background-color", "lightcoral");
            $("#sprice").css("background-color", "lightcoral");
            notequal = false;
        }
        
        
        if ($("#pic").val() == "") // VALIDATION FOR PIC UPLOAD
        {
            $("#pic").css("background-color", "lightcoral");
            picuploaded = false;
            valid = false;
        }

        if(!valid)
        {
            alert("Please fill in all the missing fields.");
            $('#submit').prop('disabled', true);
        }

        if(!notequal)
        {
            alert("Make sure that the steal price is greater than the starting price.");
            $('#submit').prop('disabled', true);
        }

    });
    
</script>