<div id = "wrapper1">

	{{> userheader username = username}}

	{{#profiledetails}}
	<!-- PROFILE -->
	<div id = "profile">
		<div id = "editpic">
			<form id = "editprof" name = "editprof" enctype ="multipart/form-data" action = "/editprofile" method="POST">	
				<img id ="dp" src="{{avatar}}" alt="image" style="margin: 30px 0px  0px">
				<input type="file" name="avatar" id="fileinput" accept="image/*" style = "margin-bottom: 20px"/>
		</div>

		<div class = "editprofile">
			<div id = "editdetails">
					<div class = "edit">
						<p>user details</p><br>
						<label for="bio">description</label>
						<textarea id="bio" name="bio">{{bio}}</textarea><br>
						<label for="pw">Password</label><br>
						<input type="password" id="pw" name="pw"><br>
						<label for="cpw">Confirm Password</label>
						<input type="password" id="cpw" name="cpw"8><br>
					    <p id = "pwerror">error</p><br>

						<p>contact details</p><br>
						<label for="contact">phone number</label>
						<input type="text" id="contactd" name="contactd" placeholder="{{number}}"><br>

						<p>social media</p><br>
						<label for="twt">Twitter</label><br>
						<input type="text" id="twt" name="tw" placeholder="http://www.twitter.com/{{twitter}}" value="{{twitter}}"><br>
						<label for="fb">FaceBook</label><br>
						<input type="text" id="fb" name="fb" placeholder="http://www.facebook.com/{{facebook}}" value="{{facebook}}"><br>
						<label for="ig">Instagram</label><br>
						<input type="text" id="ig" name="ig" placeholder="http://www.instagram.com/{{instagram}}" value={{instagram}}><br>
			
						<div style="float:right">
							<div class = "button" id = "submit">save</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{/profiledetails}}
</div>

<script type="text/javascript">

	$("#pwerror").css("color", "white");

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#dp').attr('src', e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}

	$("#submit").click(function() {
		var valid = true;
		var length = true;

		$("#pw").css("background-color", "white");
        $("#cpw").css("background-color", "white");
		var pw = document.getElementById("pw").value;
        var cpw = document.getElementById("cpw").value;

		if(pw != cpw)
		{
			valid = false;
		}

		if(pw.length < 8)
		{
			length = false;
		}

		if (!length)
		{
			$("#pwerror").css("color", "red");
			$("#pwerror").text("Password must contain at least 8 characters.");
			$("#pw").css("background-color", "lightcoral");
		}
		else if (!valid)
		{
			$("#pwerror").css("color", "red");
			$("#pwerror").text("Password and confirm password do not match.");
			$("#pw").css("background-color", "lightcoral");
			$("#cpw").css("background-color", "lightcoral");
		}

		else if (valid && length)
		{
			$("#editprof").submit();
		}

	});
	



</script>