<div id = "wrapper1">
	<!-- HEADER -->
	{{> userheader username = username}}

	{{#profiledetails}}
	<!-- PROFILE -->
	<div id = "profile">

		<!-- PROFILE DETAILS -->
		<div id = "details">
			<div id = "detailscontent">
				<div id = "dpdiv">
					<img id = "dp"src = "{{avatar}}">
				</div>

				<div id = "name">
					<p id = "profileusername">{{username}}</p>
				</div>

				<div id = "review">
					{{#each (loop checkedstars)}}
						<span class="fa fa-star checked"></span>
					{{/each}}
					{{#each (loop uncheckedstars)}}
						<span class="fa fa-star"></span>
					{{/each}}
				</div>

				<div id = "bio">
					<p id = "biotext">{{bio}}</p>
				</div>

				<div id = "socialmedia">
					{{#if hasfb}}
						<a href = "http://www.facebook.com/{{facebook}}"><img class = "icon" id = "fb"src = "/img/facebook.png"></a>
					{{/if}}

					{{#if hastw}}
						<a href = "http://www.twitter.com/{{twitter}}"><img class = "icon" id = "tw"src = "/img/twitter.png"></a>
					{{/if}}

					{{#if hasig}}
						<a href = "http://www.instagram.com/{{instagram}}"><img class = "icon" id = "ig"src = "/img/instagram.png"></a>
					{{/if}}
				</div>

				<div id = "contactdetails">
					<p>Contact Number: {{number}}</p>
				</div>

				
				<a class = "link reviewbutton" href= "/user/{{username}}">
					POSTS
				</a>

				<a class = "link reportbutton" href = "/user/{{username}}/reportuser">
					REPORT USER
				</a>
			</div>
		</div>

		<div id = "posts">
			<a class="title"> Leave a Review</a>
			
			<div class=" reviews">
				<form action = "/user/{{username}}/reviews" name = "review" method = "post">
					<p class = "reviewtext">
						Stars:
					</p>
					<div id = "writereviewstars">
						<select id = "stars" name = "stars">
							<option value = "none">select number of stars</option>
							<option value = "1">☆</option>
							<option value = "2">☆☆</option>
							<option value = "3">☆☆☆</option>
							<option value = "4">☆☆☆☆</option>
							<option value = "5">☆☆☆☆☆</option>
						</select>
					</div>

					<p class = "reviewtext">
						Review:
					</p>
					<textarea id = "reviewbox" name = "reviewbox" for = "writereview"></textarea>
					<p class = "errormessage" id = "reviewerrormessage"></p>
					<div id = "submitbutton">
						<input class = "button" type = "submit" id = "submitreview" value = "Submit" onclick = "review.submit()">
						
					</div>

				</form>
			</div>
	{{/profiledetails}}

				<!-- REVIEWS -->
				{{#each review}}
					<div class="reviews">
						<div id = "reviewstars">
							{{#each (loop checkedstars)}}
								<span class="fa fa-star checked"></span>
							{{/each}}
							{{#each (loop uncheckedstars)}}
								<span class="fa fa-star"></span>
							{{/each}}
						</div>
						<div class="reviewer">
								<img class="avatar" src="{{avatar}}">
								<a href="profile" class="username">{{username}}</a>
						
						</div>
						<p class = "reviewdesc">
							{{text}}
						</p>
					</div>
				{{/each}}

		</div>

	</div>	
	

	<div id = "iconattribute">
		Icons made by
		<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
		from
		<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</div>

</div>


<script type = "text/javascript">

	$("#submitreview").click(function()
	{
		
		if(!($("#stars option:selected").val() == 'none') && !($("#reviewbox").val().trim() == ""))
		{
			alert("Your review has been submitted.");	
		}
		else
		{
			if($("#stars option:selected").val() == 'none')
				$("#reviewerrormessage").text("Please choose how many stars you are rating the user.");
			else
				$("#reviewerrormessage").text("Please write your review before submitting.");
		}

	}); 

</script>