<div id = "reportscreen">
	<div id = "reportcontent">
		<button id = "close">X</button>
		<h1 style = "text-align: center; margin-left: 80px">REPORT USER</h1>
		<br>
		<div id = "report">
			<form name = "report">
				<h3 style = "text-align: center; color: black">REASON/S</h3>
				<div class = "reportreasons" id = "rr1">
					<div>
					<input type = "checkbox" class = "reportchecks" id = "offensive">
					<label for = "offensive" style = "color: black">Offensive/Abusive Behavior</label>
					</div>
					<div>
					<input type = "checkbox" class = "reportchecks" id = "flaking">
					<label for = "flaking" style = "color: black">Flaking</label>
					</div>
					<div>
					<input type = "checkbox" class = "reportchecks" id = "defamation">
					<label for = "defamation" style = "color: black">Defamation</label>
					</div>
					
				</div>
				<div class = "reportreasons" id = "rr2">
					<div>
					<input type = "checkbox" class = "reportchecks" id = "slander">
					<label for = "slander" style = "color: black">Slander</label>
					</div>
					<div>
					<input type = "checkbox" class = "reportchecks" id = "spam">
					<label for = "spam" style = "color: black">Spam</label>
					</div>
				</div>

				<br>
				<h3 style = "text-align: center; color: black">COMPLAINT</h3>
				<div id = "reportcomplaint">
					<textarea form = "report" id = "textcomplaint" placeholder = "Ex. The user stopped replying after I paid..." style = "font-size:  15px"></textarea>

				</div>
				<p class = "errormessage" id = "reporterrormessage"></p>
				<div id = "submitbutton">
					<button type = "button" id = "profilesubmit">SUBMIT</button>
				</div>
			
			</form>
		</div>
	</div>
</div>

<div id = "wrapper1">
	<!-- HEADER -->
	{{> userheader ua = useravatar}}

	{{#profiledetails}}
	<!-- PROFILE -->
	<div id = "profile">

		<!-- PROFILE DETAILS -->
		<div id = "details">
			<div id = "detailscontent">
				<div id = "dpdiv">
					<img id = "dp"src = "{{avatar}}">
				</div>

				<div id = "name">
					<p id = "profileusername">{{username}}</p>
				</div>

				<div id = "review">
					{{#each (loop checkedstars)}}
						<span class="fa fa-star checked"></span>
					{{/each}}
					{{#each (loop uncheckedstars)}}
						<span class="fa fa-star"></span>
					{{/each}}
				</div>

				<div id = "bio">
					<p id = "biotext">{{bio}}</p>
				</div>

				<div id = "socialmedia">
					{{#if hasfb}}
						<a href = "http://www.facebook.com/{{facebook}}"><img class = "icon" id = "fb"src = "/img/facebook.png"></a>
					{{/if}}

					{{#if hastw}}
						<a href = "http://www.twitter.com/{{twitter}}"><img class = "icon" id = "tw"src = "/img/twitter.png"></a>
					{{/if}}

					{{#if hasig}}
						<a href = "http://www.instagram.com/{{instagram}}"><img class = "icon" id = "ig"src = "/img/instagram.png"></a>
					{{/if}}
				</div>

				<div id = "contactdetails">
					<p>Contact Number: {{number}}</p>
				</div>

				
				<a id = "reviews" href= "/user/{{username}}">
					POSTS
				</a>

				<a id = "reportbutton" href = "#" onclick="actionModal();">
					REPORT USER
				</a>
			</div>
		</div>

		<div id = "posts">
			<div class=" reviews">
				<h1> Leave a Review</h1>
				<form name = "review">
					<p class = "reviewtext">
						Stars:
					</p>
					<div id = "writereviewstars">
						<select id = "stars">
							<option value = "none">select number of stars</option>
							<option value = "1">☆</option>
							<option value = "2">☆☆</option>
							<option value = "3">☆☆☆</option>
							<option value = "4">☆☆☆☆</option>
							<option value = "5">☆☆☆☆☆</option>
						</select>
					</div>

					<p class = "reviewtext">
						Review:
					</p>
					<textarea id = "reviewbox" for = "writereview"></textarea>
					<p class = "errormessage" id = "reviewerrormessage"></p>
					<div id = "submitbutton">
						<button type = "button" id = "submitreview">SUBMIT</button>
					</div>

				</form>
			</div>

			<!-- REVIEWS -->
			{{#each review}}
				<div class="reviews">
					<div id = "reviewstars">
						{{#each (loop checkedstars)}}
							<span class="fa fa-star checked"></span>
						{{/each}}
						{{#each (loop uncheckedstars)}}
							<span class="fa fa-star"></span>
						{{/each}}
					</div>
					<div class="reviewer">
							<img class="avatar" src="{{avatar}}">
							<a href="profile" class="username">{{username}}</a>
					
					</div>
					<p class = "reviewdesc">
						{{text}}
					</p>
				</div>
			{{/each}}

		</div>

	</div>	
	{{/profiledetails}}

	<div id = "iconattribute">
		Icons made by
		<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
		from
		<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
	</div>

</div>


<script type = "text/javascript">

	$("#reportbutton").click(function() 
	{
		$("#textcomplaint").val("");
		var checks = $(".reportchecks:checked");
		var x;
		
		for(x = 0; x < checks.length; x++)
			checks[x].checked = false;

		$("#reportscreen").css("display", "block");
	});

	$("#close").click(function() 
	{
		$("#errormessage").text("");
		$("#reportscreen").css("display", "none");
	});

	$("#profilesubmit").click(function() 
	{
		var checks = $(".reportchecks:checked");
		
		if(checks.length > 0 && !($("#textcomplaint").val().trim() == ""))
		{
			$("#reporterrormessage").text("");
			$("#reportscreen").css("display", "none");
		}
		else
		{
			$("#reportscreen").css("display", "block");

			if(checks.length == 0)
				$("#reporterrormessage").text("Please check at least one of the boxes.");
			else if($("#textcomplaint").val().trim() == "")
				$("#reporterrormessage").text("Please write your complaint.");

		}

	});

	$("#submitreview").click(function()
	{
		
		if(!($("#stars option:selected").val() == 'none') && !($("#reviewbox").val().trim() == ""))
		{
			$("#reviewerrormessage").text("");
			$("#reviewbox").val("");
			$("#stars").val('0');
			alert("Your review has been submitted.");
		}
		else
		{
			if($("#stars option:selected").val() == 'none')
				$("#reviewerrormessage").text("Please choose how many stars you are rating the user.");
			else
				$("#reviewerrormessage").text("Please write your review before submitting.");
		}

	}); 

</script>