<div id = "reportscreen">
	<div id = "reportcontent">
		<button id = "close">X</button>
		<h1 style = "text-align: center; margin-left: 80px; margin-bottom: 0px">FILTER AND SORT</h1>
		<br>
		<div id = "filtersortsubmit">
				<div id = "filtersort">
					<div id = "filtertitleoptions">
						<h3 style = "text-align: center; color: black;">FILTER TAGS</h3>
						<div id = "filter">
							
								<div class = "filteroptions">
									<form method = "get" name = "sortfilter">
									<div>
										<input type = "radio" id = "book" name = "book">
										<label for = "book" style = "color: black">Book</label>
									</div>

									<div>
										<input type = "radio" id = "forpet" name = "forpet">
										<label for = "forpet" style = "color: black">For Pet</label>
									</div>

									<div>
										<input type = "radio" id = "womens" name = "womens">
										<label for = "womens" style = "color: black">Women's</label>
									</div>

									<div>
										<input type = "radio" id = "mens" name = "mens">
										<label for = "mens" style = "color: black">Men's</label>
									</div>

									<div>
										<input type = "radio" id = "childrens" name = "childrens">
										<label for = "childrens" style = "color: black">Children's</label>
									</div>

									<div>
										<input type = "radio" id = "shoes" name = "shoes">
										<label for = "shoes" style = "color: black">Shoes</label>
									</div>

								</div>

								<div class = "filteroptions">

									<div>
										<input type = "radio" id = "stationery" name = "stationery">
										<label for = "stationery" style = "color: black">Stationery</label>
									</div>

									<div>
										<input type = "radio" id = "food" name = "food">
										<label for = "food" style = "color: black">Food</label>
									</div>

									<div>
										<input type = "radio" id = "collectible" name = "collectible">
										<label for = "collectible" style = "color: black">Collectible</label>
									</div>

									<div>
										<input type = "radio" id = "accessory" name = "accessory">
										<label for = "accessory" style = "color: black">Accessory</label>
									</div>

									<div>
										<input type = "radio" id = "technology" name = "technology">
										<label for = "technology" style = "color: black">Technology</label>
									</div>
								</div>
						</div>
					</div>

					<div id = "sorttitleoptions">
						<h3 style = "text-align: center; color: black;">SORT BY</h3>
						<div id = "sort">
								<div class = "sortoptions">
									<div class = "sortoption">
										<input type = "radio" name = "dateasc" id = "dateasc">
										<label for = "date" style = "color: black">Date Posted (Ascending)</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "datedes" id = "datedes">
										<label for = "date" style = "color: black">Date Posted (Descending)</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "bids" id = "bids">
										<label for = "bids" style = "color: black">Popularity (Number of Bids)</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "stealpricelth" id = "stealpricelth">
										<label for = "stealprice" style = "color: black">Steal Price Low to High</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "stealpricehtl" id = "stealpricehtl">
										<label for = "stealprice" style = "color: black">Steal Price High to Low</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "currentpricelth" id = "currentpricelth">
										<label for = "currentprice" style = "color: black">Current Price Low to High</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "currentpricehtl" id = "currentpricehtl">
										<label for = "currentprice" style = "color: black">Current Price High to Low</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "titleaz" id = "titleaz">
										<label for = "title" style = "color: black">Title (A-Z)</label>
									</div>

									<div class = "sortoption">
										<input type = "radio" name = "titleza" id = "titleza">
										<label for = "title" style = "color: black">Title (Z-A)</label>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>

				
				<div id = "submitbutton">
					<button id = "profilesubmit" onclick = "sortfilter.submit()">SUBMIT</button>
				</div>
			
		</div>
	</div>
</div>


<div id = "wrapper1">
	{{> userheader username = username}}

	<!-- SEARCHBAR-->
	<div id="searchbar">
			<form name="searchform" action="search" method="GET">
				<input type="text" placeholder="search" id="search" name = "search">
				<span class ="sbbutton" id="searchbutton" onclick ="searchform.submit()">search</span>
				<span class ="sbbutton" id="filterbutton">filter</span>
			</form>
	</div>
	{{#if isSearch}}
    <h1>Search Results for "{{query}}"</h1><br>
	{{/if}}

	{{#if isTag}}
    <h1>Posts tagged with "{{query}}"</h1><br>
	{{/if}}

    {{#profiledetails}}
	<!-- PROFILE -->
	<div id = "profile2">

		<!-- PROFILE DETAILS -->
		<div id = "details2">
			<div id = "detailscontent2">
				<div id = "dpdiv">
					<img id = "dp2" src = "{{avatar}}">
				</div>

				<div id = "name2">
					<a href="/user/{{username}}" id="toprofile"><p id = "profileusername2">{{username}}</p></a>
				</div>

		    </div>
        </div>
    </div>
    {{/profiledetails}}


	<!-- POSTS -->
	
	{{#each post}}

		<div class="post">
			<div class="postheader">
				<a href="/posts/{{_id}}" class = "posttitle">
					{{title}}
				</a>
				<div class = "ffbutton">♡</div>
			</div>

			<div class="posttags">
				<a href="/tagged/{{tagname}}" class="tag">{{tagname}}</a>
			</div>

			<div class="postedby">
				<img class="avatar" src="{{posteravatar}}">
				<a href="/user/{{postername}}" class="username">{{postername}}</a>
			
				<div class="stealprice">
					P{{stealprice}}
				</div>
				<div class="currentprice">
					P{{currentprice}}
				</div>
				
			</div>

			<img class="itemimage" src="{{itemimg}}">
			
			<div class="dateposted">
				{{date}} | {{time}}
			</div>
		</div>
	{{/each}}

</div>



<script type="text/javascript">

		$(".ffbutton").click(function(){
		//if not clicked
		if($(this).css("color") == 'rgb(0, 0, 0)')
		{
			$(this).css("background-color", "black");
			$(this).css("color", "white");
		}

		//if already clicked
		else
		{
			$(this).css("background-color", "white");
			$(this).css("color", "black");
		}
	});

	$("#filterbutton").click(function() 
	{
		$("#reportscreen").css("display", "block");
	});

	$("#close").click(function() 
	{
		$("#reportscreen").css("display", "none");
	});

	$("#profilesubmit").click(function() 
	{
		$("#reportscreen").css("display", "none");
	});


</script>