<div id = "wrapperflex">

    {{> userheader ua = uservatar}}

    <!-- POSTS -->
    
    <div class="postmain">
        
        <div class="postheader">
            <p class = "posttitle">
                {{posttitle}}
            </p>
            <div class="ffbutton">♡</div><div class="ffnum">{{ffnum}}</div>
        </div>

        <div class="posttags">
            {{#each tag}}
                <a href="{{taglink}}" class="tag">{{tagname}}</a>
            {{/each}}
        </div>

        <div class="postedby">
            <img class="avatar" src="{{posteravatar}}">
            <a href="profile" class="username">{{postername}}</a>
        </div>

        <p class = "postdesc">
            {{description}}
        </p>

        <div class="adtldetails">
            <p class =  "payment">
                <b>mode of payment:</b> {{paymentmode}}
            </p>
            <p class = "cutoff">
                <b>cut-off:</b> {{cutoffdate}} | {{cutofftime}}
            </p>
            <p class = "details">
                <b>meet-up details:</b> {{details}}
            </p>
        </div>

        <div class = "pics">
            {{#each pic}}
                <img class="itemimage" src="{{img}}">
            {{/each}}
        </div>
        
        <div class="dateposted">
            {{date}} | {{time}}
        </div>
    </div>

    <div class="sidebar">
        <div class="sidebarlabels" style="font-size: 18px;">highest bidder</div>
            <img class="bidderavatar" src="{{bidderavatar}}">
        <div class="biddername">{{biddername}}</div>
        <div class="pricemain currentprice">
            P{{currentprice}}
        </div>
        <div class="sidebarlabels">increment</div>
        <div class="pricemain increment" style="background-color: rgb(80, 80, 80);">
            P{{increment}}
        </div>
        <div class="sidebarlabels">steal price</div>
        <div class="pricemain stealprice">
            P{{stealprice}}
        </div>

        <div class="actions">
            <span class="actionbutton" id="bidbutton">bid</span>
            <span class="actionbutton" id="stealbutton">steal</span>
        </div>

    </div>

</div>

<script type="text/javascript">

    $(".ffbutton").click(function(){
        //if not clicked
        if($(this).css("color") == 'rgb(0, 0, 0)')
        {
            $(this).css("background-color", "black");
            $(this).css("color", "white");
            
            var ffnumber = $(this).closest('.postheader').children('.ffnum');
            ffnumber.text(Number(ffnumber.text()) + 1);
        }

        //if already clicked
        else
        {
            $(this).css("background-color", "white");
            $(this).css("color", "black");
            
            var ffnumber = $(this).closest('.postheader').children('.ffnum');
            ffnumber.text(Number(ffnumber.text()) - 1);
        }
    });

    $("#bidbutton").mouseenter(function(){
        $(this).css("background-color", "green");
        $(this).css("border-color", "green");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
    });

    $("#bidbutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

    $("#stealbutton").mouseenter(function(){
        $(this).css("background-color", "#e0a03e");
        $(this).css("border-color", "#e0a03e");
        $(this).css("color", "white");
        $(this).css("transition", "0.1s");
        
    });

    $("#stealbutton").mouseleave(function(){
        $(this).css("background-color", "white");
        $(this).css("border-color", "black");
        $(this).css("color", "black");
        $(this).css("transition", "0.1s");
    });

</script>